/* Global Styles */
body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
}

.navbar-nav {
  display: flex;
}

.home {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  background-color: rgb(22, 22, 22);
  padding: 14px;
  z-index: 999;
  height: auto;
}



ul {
  padding: 0px;
  margin: 0px;
  gap: 14px;
}

a {
  color: white;
}

.nav-item {
  display: flex;
  margin: 0;
  height: 40px;
  width: 90px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}


nav {
  width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navHome {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 8px;
}

h4 {
  margin: 0;
  padding: 12px 0px 0px 0px;
  margin-right: 320px;
}

/* Layout Containers  */
.container {
  width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudoSite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listaJogos {
  display: flex;
  width: 100%;
  justify-content: space-around;
  min-width: 450px;
}


section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

/*  Logo  */
.logo {
  position: fixed;
  bottom: 28px;
  right: 32px;
  max-width: 150px;
  width: auto;
}


.imgLogo {
  width: 80px;
  height: 80px;
}

/*  Jogo Card  */
.jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 310px;
  height: 250px;
  cursor: pointer;
}

.jogo>a>img {
  width: 100%;
  height: 100%;
}

.jogo>img {
  width: 100%;
  height: 100%;
}

.jogo h3 {
  display: none;
  position: absolute;
  top: 85px;
}

.baixo>.jogo h3 {
  position: absolute;
  top: 85px;
}

.jogo:hover {
  width: 380px;
}

.jogo:hover img {
  opacity: 0.2;
  border: 0.5px solid white;
  border-radius: 8px;
  color: white;
}

.jogo:hover h3 {
  display: flex;
  font-size: 22px;
}

/*  Content  */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/*  Sobre o Desenvolvedor  */
.sobreDesenvolvedor {
  display: flex;
  gap: 20px;
  margin-top: 60px;
  margin-bottom: 50px;
}

.sobreConteudo {
  max-width: 60%;
  border: 0.5px solid white;
  padding: 24px;
  min-height: 350px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.sobreConteudo p {
  margin: 0;
}

.btnList {
  display: none;
}


.sobreConteudo h1 {
  margin-bottom: 0;
}

/*  Stack Jogos  */
.stackJogos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-width: 40%;
  gap: 8px;
}

.stacks {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.stacks h1 {
  font-size: 18px;
  text-align: center;
}

.stack {
  display: flex;
  gap: 8px;
}

/*  Footer  */
footer {
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}

h1,
a {
  color: #ffaf4d;
  font-family: "Oranienbaum", Arial, sans-serif;
}

.nav-item:hover {
  color: #d49240;
  font-family: "Oranienbaum", Arial, sans-serif;
  font-size: 18px;
  background-color: rgb(67, 67, 67);
  border-radius: 8px;
}

.intro-title {
  font-size: 2.5rem;
  color: #ff9933;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-out;
}

.intro-title span {
  color: white;
  background: linear-gradient(to right, #ff9933, #ff6600);
  -webkit-text-fill-color: transparent;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#containerJogos,
#home {
  scroll-margin-top: 100px;
}
.intro-text {
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.6;
  font-size: 1.1rem;
  color: #ddd;
}

p {
  line-height: 1.6;
}


.intro-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  text-align: left;
  max-width: 600px;
}

.intro-list li {
  font-size: 1.05rem;
  margin-bottom: 15px;
  opacity: 0;
  animation: fadeInUp 0.5s ease forwards;
}

.intro-list li:nth-child(1) {
  animation-delay: 0.2s;
}

.intro-list li:nth-child(2) {
  animation-delay: 0.4s;
}

.intro-list li:nth-child(3) {
  animation-delay: 0.6s;
}

.intro-list li:nth-child(4) {
  animation-delay: 0.8s;
}

.intro-list li:nth-child(5) {
  animation-delay: 1s;
}

.certAlura {
  width: 50vh;

}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.intro-section {
  color: #f5f5f5;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


/* Animação da esquerda pra direita */
@keyframes slideLeftToRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Animação da direita pra esquerda */
@keyframes slideRightToLeft {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.listaJogos {
  opacity: 0;
  transform: translateX(0);
  transition: all 0.3s ease;
}

.listaJogos.animate-left {
  animation: slideLeftToRight 1s ease forwards;
}

/* Quando visível: anima da direita */
.listaJogos.animate-right {
  animation: slideRightToLeft 1s ease forwards;
}

@media (max-width: 750px) {

  #containerJogos {
    scroll-margin-top: 190px;
  }

  #sobre {
    scroll-margin-top: 190px;
  }

  .btnList {
    display: flex;
    cursor: pointer;
  }

  .navbar {
    display: none;
  }


  body {
    width: auto;
    padding: 0;
  }

  .container {
    width: 100%;
  }

  .listaJogos {
    display: flex;
    flex-direction: column;
    min-width: 0 !important;
    justify-content: center;
    align-items: center;
  }

  .navbar-nav {
    display: block;
  }


  nav h1 {
    font-size: 18px;
  }

  .sobreDesenvolvedor {
    display: flex;
    height: auto;
    margin: 0;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
  }

  .sobreConteudo {
    max-width: none !important;
    height: none !important;
    padding: 2px;
    height: auto;
    padding: 8px;
    gap: 14px;
    width: 43vh;
  }

  .certAlura {
    margin-top: 18px;
    width: 40vh;

  }

  .stack {
    display: flex;
    flex-direction: column;
  }

  .sobreRed {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    margin: 0;
    padding: 0;
  }

  .intro-list {
    padding: 18px;
  }

  .home {
    padding: 8px;
    box-sizing: border-box;
  }

  .seHome button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 60px;
    background-color: #d49240;
    border: 0.5px solid white;
    font-size: 24px;
    border-radius: 8px;
  }

  .seHome>button i {
    font-size: 24px;
    transform: scaleX(2);
    display: inline-block;
  }

  .navHome nav {
    display: flex;
    flex-direction: column;
  }

  .seHome {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  p {
    line-height: 1.2;
  }


}